{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                // "extensions": [
                //     ".js",
                //     ".ios.js",
                //     ".android.js"
                // ],
                "alias": {
                    "test": "./test",
                    "underscore": "lodash",
                    "@actions": "./src/actions",
                    "@assets": "./src/assets",
                    "@common": "./src/common",
                    "@components": "./src/components",
                    "@constants": "./src/constants",
                    "@navigators": "./src/navigators",
                    "@reducers": "./src/reducers",
                    "@screens": "./src/screens",
                    "@store": "./src/store",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}